<html lang="en">

<title>Voting system</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
</head>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#aadhar-no-input").disabled = true;
            document.querySelector("#register-submit").disabled = true;

            document.querySelector("#zone-id").onkeyup = () => {
                if (document.querySelector("#zone-id").value.length > 0) {
                    document.querySelector("#register-submit").disabled = false;
                } else {
                    document.querySelector("#register-submit").disabled = true;
                }
            };
            document.querySelector("#register-submit").onclick = () => {
                const smth = document.querySelector("#zone-id").innerHTML;
                console.log(smth);
            };
        });
        function noEnter(e) {
            e = e || window.event;
            var key = e.keyCode || e.charCode;
            return key !== 13;
        }
    </script>
    <style>
		*{
            margin: 0;
            font-family: "avenir";
        }

        .navBar{
            background-color: #263642;
            overflow: hidden;

        }

        .navBar a {
            float: left;
            color: #bbd4ba;
            text-align: center;
            padding: 16px 18px;
            font-size: 20px;
            text-decoration: none;
        }
        
        .navbar a:hover{
            background-color: #48494a;
        }
	</style>
</head>

<body>
    <div data-role="page"
        style="background-size: 100% 100%;">
        <div class = "navBar">
			<a href="{{url_for('login')}}">Online Voting System</a>
			<a href="{{url_for('register')}}">Register</a>
			<a href="{{url_for('vote')}}">Vote</a>
			<a href="{{url_for('feedback')}}">Feedback</a>
			<a href="{{url_for('logout')}}">Logout</a>
		</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <body>
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                        <h3 class="text text-center text info alert bg-primary" style="color:white;">Search</h3>

                        <form action="{{url_for('admin_search_back')}}" method="POST">

                            <label for="zone-id">Zone :</label>
                            <input id="zone-id" name="zone-id" type="text"
                                onkeypress="return noEnter(event)" /><br /><br />

                            <input id="register-submit" class="btn btn-success btn-block" type="submit" />
                        </form>
                    </div>
                </div>
            </div>

        </body>



        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br>



</html>